opencv-python
cmake
dlib
tensorflow==2.4
scipy
numpy==1.19.2
Pandas
tqdm
h5py==2.10.0
hydra-core
scikit-learn
albumentations
omegaconf
pypiwin32
face_recognition
opencv-contrib-python
pyqt5
configparser
pyinstaller